<?xml version="1.0"?>
<model>
  <name>Tricopter</name>
  <version>1.0</version>
  <sdf version="1.6">tricopter.sdf</sdf>

  <author>
   <name>Nuno Marques</name>
   <email>nuno.marques@dronesolutions.io</email>
  </author>

  <description>
    This is a model of a generic tricopter (+yaw).
  </description>
</model>
